/* ==UserStyle==
@name           Wide thumbnail
@namespace      https://github.com/munierujp/
@version        1.0.0
@description    Make thumbnail wide on Video Station of DiskStation
@author         Munieru (https://github.com/munierujp/)
@homepageURL https://github.com/munierujp/userstyles
@updateURL   https://munierujp.github.io/userstyles/styles/disk-station/video-station/wide-thumbnail.user.css
@supportURL https://github.com/munierujp/userstyles/issues
==/UserStyle== */

@-moz-document regexp("^(http|https)://diskstation\\.local(:\\d+)?/\\?((.+=.+)*&)?launchApp=SYNO\\.SDS\\.VideoStation\\.AppInstance(&.+=.+)*$") {
  /* NOTE: original size is 120x180 */
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster {
    width: 180px !important;
    height: calc(120px + 44px) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .thumb {
    width: 180px !important;
    height: 120px !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .thumb .center-btn {
    left: calc((180px - 44px) / 2) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .select-mark {
    width: 180px !important;
    height: 120px !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .border {
    width: calc(180px - 2px) !important;
    height: calc(120px - 2px) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.poster.x-view-over .border {
    width: calc(180px - 4px) !important;
    height: calc(120px - 4px) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .title,
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .description {
    width: calc(180px - 8px) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .watch-status-wrap {
    top: calc(120px - 3px) !important;
  }

  /* NOTE: original size is 270x388 */
  .syno-vs2-win .view-detail-outer .view-detail .action-area {
    width: 388px !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area .x-panel-body {
    width: 388px !important;
    height: calc(270px + 52px) !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area .image {
    width: 388px !important;
    height: 270px !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area .image .x-btn.syno-ux-button.play {
    top: calc((270px - 76px) / 2) !important;
    left: calc((388px - 76px) / 2) !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area .image .border {
    width: calc(388px - 2px) !important;
    height: calc(270px - 2px) !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area .image .watch-status-wrap {
    top: calc(270px - 3px) !important;
  }
}
