/* ==UserStyle==
@name           サムネイルを拡大
@namespace      https://github.com/munierujp/userstyles/tree/master/styles/disk-station/video-station
@version        1.2.2
@description    DiskStationのVideo Stationのサムネイルを拡大します。
@author         Munieru (https://github.com/munierujp/)
@homepageURL https://github.com/munierujp/userstyles
@updateURL   https://github.com/munierujp/userstyles/raw/master/styles/disk-station/video-station/wide-thumbnail.user.css
@supportURL https://github.com/munierujp/userstyles/issues
==/UserStyle== */

@-moz-document regexp("^(http|https)://diskstation\\.local(:\\d+)?/\\?((.+=.+)*&)?launchApp=SYNO\\.SDS\\.VideoStation\\.AppInstance(&.+=.+)*$") {
  :root {
    --background-color: #000;
    --thumbnail-view-width: 240px;
    --thumbnail-view-height: 135px;
    --detail-view-width: 640px;
    --detail-view-height: 360px;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.landscape,
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster {
    width: var(--thumbnail-view-width) !important;
    height: calc(var(--thumbnail-view-height) + 44px) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.landscape .thumb,
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .thumb {
    width: var(--thumbnail-view-width) !important;
    height: var(--thumbnail-view-height) !important;
    background-color: var(--background-color) !important;
    background-size: contain !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.landscape .thumb .center-btn,
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .thumb .center-btn {
    left: calc((var(--thumbnail-view-width) - 44px) / 2) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.landscape .select-mark,
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .select-mark {
    width: var(--thumbnail-view-width) !important;
    height: var(--thumbnail-view-height) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.landscape .border,
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .border {
    width: calc(var(--thumbnail-view-width) - 2px) !important;
    height: calc(var(--thumbnail-view-height) - 2px) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.landscape.x-view-over .border,
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster.x-view-over .border {
    width: calc(var(--thumbnail-view-width) - 4px) !important;
    height: calc(var(--thumbnail-view-height) - 4px) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.landscape .title,
  .syno-vs2-win .thumb-dataview .thumb-wrap.landscape .description,
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .title,
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .description {
    width: calc(var(--thumbnail-view-width) - 8px) !important;
  }

  .syno-vs2-win .thumb-dataview .thumb-wrap.landscape .watch-status-wrap,
  .syno-vs2-win .thumb-dataview .thumb-wrap.poster .watch-status-wrap {
    top: calc(var(--thumbnail-view-height) - 3px) !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area {
    width: var(--detail-view-width) !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area .x-panel-body {
    width: var(--detail-view-width) !important;
    height: calc(var(--detail-view-height) + 52px) !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area .image {
    width: var(--detail-view-width) !important;
    height: var(--detail-view-height) !important;
    background-color: var(--background-color) !important;
    background-size: contain !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area .image .x-btn.syno-ux-button.play {
    top: calc((var(--detail-view-height) - 76px) / 2) !important;
    left: calc((var(--detail-view-width) - 76px) / 2) !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area .image .border {
    width: calc(var(--detail-view-width) - 2px) !important;
    height: calc(var(--detail-view-height) - 2px) !important;
  }

  .syno-vs2-win .view-detail-outer .view-detail .action-area .image .watch-status-wrap {
    top: calc(var(--detail-view-height) - 3px) !important;
  }
}
