/* ==UserStyle==
@name           Zen Mode
@namespace      https://github.com/munierujp/userstyles/tree/master/styles/yahoo-japan/realtime
@version        0.4.0
@description    Yahoo!リアルタイム検索の表示をシンプルにします。
@author         Munieru (https://github.com/munierujp/)
@homepageURL https://github.com/munierujp/userstyles
@updateURL   https://github.com/munierujp/userstyles/raw/master/styles/yahoo-japan/realtime/zen-mode.user.css
@supportURL https://github.com/munierujp/userstyles/issues
==/UserStyle== */

/* stylelint-disable selector-class-pattern */
@-moz-document
url-prefix("https://realtime.yahoo.co.jp/realtime/search?"),
url-prefix("https://search.yahoo.co.jp/realtime/search?") {
  /* 表示をウインドウの横幅に合わせる */
  .p {
    width: 100%;
  }
  
  .SearchBox_SearchBox__2XNFc {
    width: calc(100vw - 40px);
  }
  
  .SearchBox_SearchBox__2XNFc::after {
    margin-left: 0;
    width: 100vw;
  }

  .SearchBox_fixedWrap__h9X4V.SearchBox_fixed__XnfK2 .SearchBox_fixedBody__tM44Z {
    width: 100%;
  }
  
  .p .header {
    min-width: unset;
  }
  
  .p .content--990 {
    width: 100%
  }
  
  .p .main {
    width: 100%;
  }
  
  /* ヘッダーを非表示 */  
  .mhd {
    display: none;
  }
  
  /* タブを非表示 */
  #tabs {
    display: none !important;
  }
  
  /* 検索ボックスの固定を解除 */
  .SearchBox_fixedWrap__h9X4V.SearchBox_fixed__XnfK2 {
    position: unset;
  }
  
  /* 関連ワードを非表示 */
  .RelatedBuzz_fixedHeight__9jFSX {
    display: none;
  }
  
  /* ミュートしたアカウントのリンクを非表示 */
  .SearchBox_qt__YRNlr {
    display: none;
  }
  
  /* サブを非表示 */
  .p .sub {
    display: none;
  }
  
  /* トップに移動するボタンを非表示 */
  #totop {
    display: none;
  }
  
  /* アプリのバナーを非表示 */
  #appprfr {
    display: none;
  }
  
  /* フッターを非表示 */
  #footer {
    display: none;
  }
}
