/* stylelint-disable max-line-length */
/* stylelint-disable selector-class-pattern */

/* ==UserStyle==
@name           リンクのスタイルをGoogle化
@namespace      https://github.com/munierujp/
@version        1.3.0
@description    Yahoo!検索のリンクのスタイルをGoogleっぽくします。Dark ReaderによるダークモードやuBlacklistによって追加されるリンクにも対応しています。
@author         Munieru (https://github.com/munierujp/)
@homepageURL https://github.com/munierujp/userstyles
@updateURL   https://github.com/munierujp/userstyles/raw/master/styles/yahoo-japan/search/googlize-link.user.css
@supportURL https://github.com/munierujp/userstyles/issues
==/UserStyle== */

@-moz-document domain("search.yahoo.co.jp") {
  /* 通常のリンクのスタイル */

  /* 検索結果のタイトル */
  a.sw-Card__titleInner:link .sw-Card__titleMain,
  /* 関連検索 */
  .Unit__listItem a:link,
  /* カルーセル */
  .sw-Carousel__listItemLink a:link,
  .sw-Carousel__listItemLink a:link .sw-Carousel__linkTitle,
  /* uBlacklistによって追加されるリンク */
  .ub-button {
    color: #1a0dab;
    text-decoration: none;
  }

  /* 訪問済みリンクのスタイル */

  /* 検索結果のタイトル */
  a.sw-Card__titleInner:visited .sw-Card__titleMain,
  /* 関連検索 */
  .Unit__listItem a:visited,
  /* カルーセル */
  .sw-Carousel__listItemLink a:visited,
  .sw-Carousel__listItemLink a:visited .sw-Carousel__linkTitle {
    color: #681da8;
  }

  /* ホバー時のリンクのスタイル */

  /* 検索結果のタイトル */
  a.sw-Card__titleInner:hover .sw-Card__titleMain,
  /* 関連検索 */
  .Unit__listItem a:hover,
  /* カルーセル */
  .sw-Carousel__listItemLink a:hover,
  .sw-Carousel__listItemLink a:hover .sw-Carousel__linkTitle,
  /* uBlacklistによって追加されるリンク */
  .ub-button:hover {
    text-decoration: underline;
  }

  /* Dark Readerによるダークモードにおける通常のリンクのスタイル */

  /* 検索結果のタイトル */
  html[data-darkreader-scheme="dark"] a.sw-Card__titleInner:link .sw-Card__titleMain,
  /* 関連検索 */
  html[data-darkreader-scheme="dark"] .Unit__listItem a:link,
  /* カルーセル */
  html[data-darkreader-scheme="dark"] .sw-Carousel__listItemLink a:link .sw-Carousel__linkTitle,
  html[data-darkreader-scheme="dark"] .sw-Carousel__listItemLink a:link,
  /* uBlacklistによって追加されるリンク */
  html[data-darkreader-scheme="dark"] .ub-button {
    color: #8ab4f8;
  }

  /* Dark Readerによるダークモードにおける訪問済みリンクのスタイル */

  /* 検索結果のタイトル */
  html[data-darkreader-scheme="dark"] a.sw-Card__titleInner:visited .sw-Card__titleMain,
  /* 関連検索 */
  html[data-darkreader-scheme="dark"] .Unit__listItem a:visited,
  /* カルーセル */
  html[data-darkreader-scheme="dark"] .sw-Carousel__listItemLink a:visited,
  html[data-darkreader-scheme="dark"] .sw-Carousel__listItemLink a:visited .sw-Carousel__linkTitle {
    color: #c58af9;
  }
}
