/* ==UserStyle==
@name           リンクのスタイルをGoogle化
@namespace      https://github.com/munierujp/userstyles/tree/master/styles/yahoo-japan/search
@version        1.6.1
@description    Yahoo!検索のリンクのスタイルをGoogleっぽくします。Dark ReaderによるダークモードやuBlacklistによって追加されるリンクにも対応しています。
@author         Munieru (https://github.com/munierujp/)
@homepageURL https://github.com/munierujp/userstyles
@updateURL   https://github.com/munierujp/userstyles/raw/master/styles/yahoo-japan/search/googlize-link.user.css
@supportURL https://github.com/munierujp/userstyles/issues
==/UserStyle== */

/* stylelint-disable selector-class-pattern */
@-moz-document url-prefix("https://search.yahoo.co.jp/search?") {
  :root {
    /* 通常のリンクの色 */
    --link-color: #1a0dab;

    /* ダークモードにおける通常のリンクの色 */
    --link-color-dark: #8ab4f8;

    /* 訪問済みリンクの色 */
    --visited-link-color: #681da8;

    /* ダークモードにおける訪問済みリンクの色 */
    --visited-link-color-dark: #c58af9;
  }

  .AnswerExploreUniversal__query a:link,
  .sw-Card__columnItem a:link,
  .sw-Card__titleList a:link,
  .sw-Carousel__listItem a:link,
  .sw-Carousel__listItemLink a:link,
  .sw-Carousel__listItemLink a:link .sw-Carousel__linkTitle,
  .sw-Link__siteLinksListItem a:link,
  .Unit__listItem a:link,
  a.Algo__textListLinks:link,
  a.AnswerGourmetListLoco__listTitle:link,
  a.AnswerVideoUniversal__listItemLink:link .sw-Card__titleList,
  a.sw-Card__titleInner:link .sw-Card__titleMain {
    color: var(--link-color);
    text-decoration: none;
  }

  .ub-button {
    color: var(--link-color);
    text-decoration: none;
  }

  .AnswerExploreUniversal__query a:visited,
  .sw-Card__columnItem a:visited,
  .sw-Card__titleList a:visited,
  .sw-Carousel__listItem a:visited,
  .sw-Carousel__listItemLink a:visited,
  .sw-Carousel__listItemLink a:visited .sw-Carousel__linkTitle,
  .sw-Link__siteLinksListItem a:visited,
  .Unit__listItem a:visited,
  a.Algo__textListLinks:visited,
  a.AnswerGourmetListLoco__listTitle:visited,
  a.AnswerVideoUniversal__listItemLink:visited .sw-Card__titleList,
  a.sw-Card__titleInner:visited .sw-Card__titleMain {
    color: var(--visited-link-color);
  }

  .AnswerExploreUniversal__query a:hover,
  .sw-Card__columnItem a:hover,
  .sw-Card__titleList a:hover,
  .sw-Carousel__listItem a:hover,
  .sw-Carousel__listItemLink a:hover,
  .sw-Carousel__listItemLink a:hover .sw-Carousel__linkTitle,
  .sw-Link__siteLinksListItem a:hover,
  .Unit__listItem a:hover,
  a.Algo__textListLinks:hover,
  a.AnswerGourmetListLoco__listTitle:hover,
  a.AnswerVideoUniversal__listItemLink:hover .sw-Card__titleList,
  a.sw-Card__titleInner:hover .sw-Card__titleMain,
  .ub-button:hover {
    text-decoration: underline;
  }

  html[data-darkreader-scheme="dark"] .AnswerExploreUniversal__query a:link,
  html[data-darkreader-scheme="dark"] .sw-Card__columnItem a:link,
  html[data-darkreader-scheme="dark"] .sw-Card__titleList a:link,
  html[data-darkreader-scheme="dark"] .sw-Carousel__listItem a:link,
  html[data-darkreader-scheme="dark"] .sw-Carousel__listItemLink a:link,
  html[data-darkreader-scheme="dark"] .sw-Carousel__listItemLink a:link .sw-Carousel__linkTitle,
  html[data-darkreader-scheme="dark"] .sw-Link__siteLinksListItem a:link,
  html[data-darkreader-scheme="dark"] .Unit__listItem a:link,
  html[data-darkreader-scheme="dark"] a.Algo__textListLinks:link,
  html[data-darkreader-scheme="dark"] a.AnswerGourmetListLoco__listTitle:link,
  html[data-darkreader-scheme="dark"] a.AnswerVideoUniversal__listItemLink:link .sw-Card__titleList,
  html[data-darkreader-scheme="dark"] a.sw-Card__titleInner:link .sw-Card__titleMain {
    color: var(--link-color-dark);
  }

  html[data-darkreader-scheme="dark"] .ub-button {
    color: var(--link-color-dark);
  }

  html[data-darkreader-scheme="dark"] .AnswerExploreUniversal__query a:visited,
  html[data-darkreader-scheme="dark"] .sw-Card__columnItem a:visited,
  html[data-darkreader-scheme="dark"] .sw-Card__titleList a:visited,
  html[data-darkreader-scheme="dark"] .sw-Carousel__listItem a:visited,
  html[data-darkreader-scheme="dark"] .sw-Carousel__listItemLink a:visited,
  html[data-darkreader-scheme="dark"] .sw-Carousel__listItemLink a:visited .sw-Carousel__linkTitle,
  html[data-darkreader-scheme="dark"] .sw-Link__siteLinksListItem a:visited,
  html[data-darkreader-scheme="dark"] .Unit__listItem a:visited,
  html[data-darkreader-scheme="dark"] a.Algo__textListLinks:visited,
  html[data-darkreader-scheme="dark"] a.AnswerGourmetListLoco__listTitle:visited,
  html[data-darkreader-scheme="dark"] a.AnswerVideoUniversal__listItemLink:visited .sw-Card__titleList,
  html[data-darkreader-scheme="dark"] a.sw-Card__titleInner:visited .sw-Card__titleMain {
    color: var(--visited-link-color-dark);
  }
}
