/* stylelint-disable max-line-length */
/* stylelint-disable selector-class-pattern */

/* ==UserStyle==
@name           リンクのスタイルをGoogle化
@namespace      https://github.com/munierujp/
@version        1.1.0
@description    Yahoo!検索のリンクのスタイルをGoogleっぽくします。Dark ReaderによるダークモードやuBlacklistによって追加されるリンクにも対応しています。
@author         Munieru (https://github.com/munierujp/)
@homepageURL https://github.com/munierujp/userstyles
@updateURL   https://github.com/munierujp/userstyles/raw/master/styles/yahoo-japan/search/googlize-link.user.css
@supportURL https://github.com/munierujp/userstyles/issues
==/UserStyle== */

@-moz-document domain("search.yahoo.co.jp") {
  /* 通常のリンクのスタイル */

  /* 検索結果のタイトル */
  .sw-Card__title a.sw-Card__titleInner:link .sw-Card__titleMain,
  /* 関連検索のリンク */
  /* FIXME: この位置だとstylelintでエラーになる */
  /* .Unit .Unit__listItem a:link, */
  /* 動画のタイトル */
  a.AnswerVideoUniversal__listItemLink:link .sw-Card__titleList,
  /* Yahoo!ニュースのタイトル */
  .AnswerNews .sw-Card__title .sw-Card__titleList a:link,
  /* Yahoo!知恵袋のタイトル */
  .AnswerChiebukuro .sw-Card__title .sw-Card__titleList a:link,
  /* Yahoo!ロコのタイトル */
  .AnswerGourmetListLoco a.AnswerGourmetListLoco__listTitle:link,
  /* Yahoo!ロコのアクションボタン */
  .AnswerGourmetListLoco .AnswerGourmetListLoco__actionButton .sw-ActionButton__listItem a:link,
  /* uBlacklistのリンク */
  .ub-button {
    color: #1a0dab;
    text-decoration: none;
  }

  /* ホバー時のリンクのスタイル */

  /* 検索結果のタイトル */
  .sw-Card__title a.sw-Card__titleInner:hover .sw-Card__titleMain,
  /* 関連検索のリンク */
  /* FIXME: この位置だとstylelintでエラーになる */
  /* .Unit .Unit__listItem a:hover, */
  /* 動画のタイトル */
  a.AnswerVideoUniversal__listItemLink:hover .sw-Card__titleList,
  /* Yahoo!ニュースのタイトル */
  .AnswerNews .sw-Card__title .sw-Card__titleList a:hover,
  /* Yahoo!知恵袋のタイトル */
  .AnswerChiebukuro .sw-Card__title .sw-Card__titleList a:hover,
  /* Yahoo!ロコのタイトル */
  .AnswerGourmetListLoco a.AnswerGourmetListLoco__listTitle:hover,
  /* Yahoo!ロコのアクションボタン */
  .AnswerGourmetListLoco .AnswerGourmetListLoco__actionButton .sw-ActionButton__listItem a:hover,
  /* uBlacklistのリンク */
  .ub-button:hover {
    text-decoration: underline;
  }

  /* 訪問済みリンクのスタイル */

  /* 検索結果のタイトル */
  .sw-Card__title a.sw-Card__titleInner:visited .sw-Card__titleMain,
  /* 関連検索のリンク */
  /* FIXME: この位置だとstylelintでエラーになる */
  /* .Unit .Unit__listItem a:visited, */
  /* 動画のタイトル */
  a.AnswerVideoUniversal__listItemLink:visited .sw-Card__titleList,
  /* Yahoo!ニュースのタイトル */
  .AnswerNews .sw-Card__title .sw-Card__titleList a:visited,
  /* Yahoo!知恵袋のタイトル */
  .AnswerChiebukuro .sw-Card__title .sw-Card__titleList a:visited,
  /* Yahoo!ロコのタイトル */
  .AnswerGourmetListLoco a.AnswerGourmetListLoco__listTitle:visited,
  /* Yahoo!ロコのアクションボタン */
  .AnswerGourmetListLoco .AnswerGourmetListLoco__actionButton .sw-ActionButton__listItem a:visited {
    color: #681da8;
  }

  /* Dark Readerによるダークモードにおける通常のリンクのスタイル */

  /* 検索結果のタイトル */
  html[data-darkreader-scheme="dark"] .sw-Card__title a.sw-Card__titleInner:link .sw-Card__titleMain,
  /* 関連検索のリンク */
  /* FIXME: この位置だとstylelintでエラーになる */
  /* html[data-darkreader-scheme="dark"] .Unit .Unit__listItem a:link, */
  /* 動画のタイトル */
  html[data-darkreader-scheme="dark"] a.AnswerVideoUniversal__listItemLink:link .sw-Card__titleList,
  /* Yahoo!ニュースのタイトル */
  html[data-darkreader-scheme="dark"] .AnswerNews .sw-Card__title .sw-Card__titleList a:link,
  /* Yahoo!知恵袋のタイトル */
  html[data-darkreader-scheme="dark"] .AnswerChiebukuro .sw-Card__title .sw-Card__titleList a:link,
  /* Yahoo!ロコのタイトル */
  html[data-darkreader-scheme="dark"] .AnswerGourmetListLoco a.AnswerGourmetListLoco__listTitle:link,
  /* Yahoo!ロコのアクションボタン */
  html[data-darkreader-scheme="dark"] .AnswerGourmetListLoco .AnswerGourmetListLoco__actionButton .sw-ActionButton__listItem a:link,
  /* uBlacklistのリンク */
  html[data-darkreader-scheme="dark"] .ub-button {
    color: #8ab4f8;
    text-decoration: none;
  }

  /* Dark Readerによるダークモードにおけるホバー時のリンクのスタイル */

  /* 検索結果のタイトル */
  html[data-darkreader-scheme="dark"] .sw-Card__title a.sw-Card__titleInner:hover .sw-Card__titleMain,
  /* 関連検索のリンク */
  /* FIXME: この位置だとstylelintでエラーになる */
  /* html[data-darkreader-scheme="dark"] .Unit .Unit__listItem a:hover, */
  /* 動画のタイトル */
  html[data-darkreader-scheme="dark"] a.AnswerVideoUniversal__listItemLink:hover .sw-Card__titleList,
  /* Yahoo!ニュースのタイトル */
  html[data-darkreader-scheme="dark"] .AnswerNews .sw-Card__title .sw-Card__titleList a:hover,
  /* Yahoo!知恵袋のタイトル */
  html[data-darkreader-scheme="dark"] .AnswerChiebukuro .sw-Card__title .sw-Card__titleList a:hover,
  /* Yahoo!ロコのタイトル */
  html[data-darkreader-scheme="dark"] .AnswerGourmetListLoco a.AnswerGourmetListLoco__listTitle:hover,
  /* Yahoo!ロコのアクションボタン */
  html[data-darkreader-scheme="dark"] .AnswerGourmetListLoco .AnswerGourmetListLoco__actionButton .sw-ActionButton__listItem a:hover,
  /* uBlacklistのリンク */
  html[data-darkreader-scheme="dark"] .ub-button:hover {
    text-decoration: underline;
  }

  /* Dark Readerによるダークモードにおける訪問済みリンクのスタイル */

  /* 検索結果のタイトル */
  html[data-darkreader-scheme="dark"] .sw-Card__title a.sw-Card__titleInner:visited .sw-Card__titleMain,
  /* 関連検索のリンク */
  /* FIXME: この位置だとstylelintでエラーになる */
  /* html[data-darkreader-scheme="dark"] .Unit .Unit__listItem a:visited, */
  /* 動画のタイトル */
  html[data-darkreader-scheme="dark"] a.AnswerVideoUniversal__listItemLink:visited .sw-Card__titleList,
  /* Yahoo!ニュースのタイトル */
  html[data-darkreader-scheme="dark"] .AnswerNews .sw-Card__title .sw-Card__titleList a:visited,
  /* Yahoo!知恵袋のタイトル */
  html[data-darkreader-scheme="dark"] .AnswerChiebukuro .sw-Card__title .sw-Card__titleList a:visited,
  /* Yahoo!ロコのタイトル */
  html[data-darkreader-scheme="dark"] .AnswerGourmetListLoco a.AnswerGourmetListLoco__listTitle:visited,
  /* Yahoo!ロコのアクションボタン */
  html[data-darkreader-scheme="dark"] .AnswerGourmetListLoco .AnswerGourmetListLoco__actionButton .sw-ActionButton__listItem a:visited {
    color: #c58af9;
  }
}
