/* ==UserStyle==
@name           リンクの下線を非表示
@namespace      https://github.com/munierujp/userstyles/tree/master/styles/yahoo-japan/search
@version        1.1.4
@description    Yahoo!検索のリンクの下線を非表示にします。
@author         Munieru (https://github.com/munierujp/)
@homepageURL https://github.com/munierujp/userstyles
@updateURL   https://github.com/munierujp/userstyles/raw/master/styles/yahoo-japan/search/hide-link-underline.user.css
@supportURL https://github.com/munierujp/userstyles/issues
==/UserStyle== */

/* stylelint-disable-next-line at-rule-no-vendor-prefix */
@-moz-document url-prefix("https://search.yahoo.co.jp/search?") {
  a {
    text-decoration: none;
  }

  .sw-Card__title a.sw-Card__titleInner .sw-Card__titleMain {
    text-decoration: none;
  }

  .AnswerVideoUniversal .sw-Card__title .sw-Card__titleList {
    text-decoration: none;
  }

  /* https://github.com/iorate/ublacklist */
  .ub-button {
    text-decoration: none;
  }
}
